.movie_panel {
	width: 30%;
	display: flex;
	flex-direction: column;
	background-color: white;
	color: white;
	border-radius: 10px;
	border: 2px solid white;
	gap: 2px;
	animation: ani 1.2s;
}

@keyframes ani {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	} 50% {
		opacity: 50;
	} 100% {
		transform: translateX(0);
		opacity: 100;
	}
}

  
/* POSTER */
.poster-container {
	height: 650px;
	background-color: black;
	border-radius: 10px;
}
.poster-container > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 10px 10px 0px 0px;
}

/* INFO */
.info-container {
	background-color: black;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
	border-radius: 10px;
}
.info-container > div {
	border: 0px solid white;
}
.info-container > div span {
	font-weight: bold;
}

/* TITLE */
.info-container > .title {
	height: 100px;
	display: flex;
	align-items: center;
}
.info-container > .title p {
	font-size: 22px;
}

/* GENRES */
.info-container > .genres {
	display: flex;
	gap: 20px;
	overflow-x: hidden;
}
.info-container > .genres > p {
	display: flex;
	align-items: center;
}
.info-container > .genres > div {
	display: flex;
	align-items: center;
	gap: 20px;
	white-space: nowrap;
}

/* EXTRA STUFF */
.info-container > .extra-info {
	display: flex;
	justify-content: space-between;
}
.extra-info > div > p {
	text-align: center;
}

/* BUTTON */
.button-container {
	height: 80px;
	border-radius: 10px;
}
.button-container > button {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	background-color: black;
	border: 3px solid black;
	color: white;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
}
.button-container > button:hover {
	transition: 0.3s;
	border-color: orange;
	color: orange;
} 

/* MEDIA QUERIES */
@media (max-width: 1450px) {
	.movie_panel {
		width: 45%;
	}
}
@media (max-width: 950px) {
	.movie_panel {
		width: 100%;
	}
}