.movie_panel {
	width: 30%;
	display: flex;
	flex-direction: column;
	background-color: white;
	color: white;
	border: 2px solid white;
	gap: 3px;
	animation: load_panels 1s;
}
/* PANELS LOADED ANIMATION */
@keyframes load_panels {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	} 50% {
		opacity: 50;
	} 100% {
		transform: translateX(0);
		opacity: 100;
	}
}
  
/* POSTER */
.poster-container {
	height: 650px;
	background-color: black;
}
.poster-container > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* INFO */
.info-container {
	background-color: black;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
}
.info-container > div {
	border: 0px solid white;
}

/* TITLE */
.info-container > .title {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* GENRES */
.info-container > .genres {
	display: flex;
	gap: 5px;
}
.info-container > .genres > p {
	display: grid;
	place-items: center;
}
.info-container > .genres > div {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.info-container > .genres > div > p {
	display: inline;
	margin: 0px 4px;
}
.info-container > .genres > div > p::before {
	content: "/ ";
}

/* EXTRA STUFF */
.info-container > .extra-info {
	display: flex;
	justify-content: space-between;
}
.extra-info > div {
	flex-basis: 50%;
	display: flex;
	padding: 10px;
	border: 2px solid white;
}
.extra-info > div > p {
	display: flex;
	align-items: center;
	gap: 8px;
}
.extra-info > div > p > span {
	display: inline;
}

/* BUTTON */
.button-container {
	height: 80px;
}
.button-container > button {
	height: 100%;
	width: 100%;
	background-color: black;
	border: 3px solid black;
	color: white;
	cursor: pointer;
	transition: 0.3s;
	font-size: 18px;
}
.button-container > button:hover {
	background-color: white;
	color: black;
} 

/* MEDIA QUERIES */
@media (max-width: 1450px) {
	.movie_panel {
		width: 45%;
	}
}
@media (max-width: 950px) {
	.movie_panel {
		width: 100%;
	}
}
@media (max-width: 470px) {
	.extra-info > div {
		flex-direction: column;
	}
}