.random {
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.random > form {
	background-color: white;
	padding: 20px;
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

/* CHECK BOXES */
.choices-panel {
	display: grid;
	grid-template-columns: repeat(3, 150px);
	gap: 5px;
}
.choices-panel > div {
	background-color: black;
	color: white;
	padding: 15px 10px;
	display: grid;
	place-items: center;
	transition: 0.3s;
	font-weight: bold;
	cursor: pointer;
}
.choices-panel > div label {
	cursor: pointer;
}
.choices-panel > div:hover {
	background-color: white;
	color: black;
}
.checked {
	background-color: rgb(65, 65, 241) !important;
}

/* BUTTON */
.random > form > input[type="submit"] {
	height: 80px;
	border: 3px solid black;
	background-color: white;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.random > form > input[type="submit"]:hover {
	background-color: black;
	color: white;
}




.movie-selected-container {
	border: 3px solid white;
}