.random {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.random-content {
	padding: 20px;
	display: flex;
	gap: 20px;
	border: 2px solid white;
}

.random-content > form {
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: white;
}

/* TITLE */

.random-content > form > .title {
	font-weight: bold;
}


/* CHECK BOXES */
.choices-panel {
	display: grid;
	grid-template-columns: repeat(3, 150px);
	gap: 5px;
}
.choices-panel > div {
	background-color: black;
	color: white;
	padding: 15px 10px;
	display: grid;
	place-items: center;
	transition: 0.3s;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid white;
}
.choices-panel > div:hover {
	background-color: white;
	color: black;
}
.checked {
	background-color: rgb(255, 132, 0) !important;
}

/* BUTTON */
.random-content> form > input[type="submit"] {
	height: 80px;
	background-color: white;
	cursor: pointer;
	transition: 0.3s;
}
.random-content > form > input[type="submit"]:hover {
	background-color: black;
	color: white;
}

/* CONTAINER WITH SELECTED MOVIE */
.movie-selected-container {
	color: white;
	width: 550px;
}
.movie-selected-container > .extra {
	height: 100%;
	padding: 10px;
	border: 2px solid white;
	display: grid;
	place-items: center;
}
.movie-selected-container > div {
	width: 100%;
}

/* LOADING, ERROR, BUTTON */
.extra-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	font-weight: bold;
	margin: 20px;
}
.extra-container > .message {
	color: white;
}