.Home {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	padding: 30px;
	background-color: rgb(35, 19, 19);
}
.home-container {
	width: 1450px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}


.home-container > .title {
	display: flex;
	justify-content: flex-start;
	color: white;
}
.home-container > .title > p {
	font-size: 22px;
}
.home-container > .title > a {
	text-indent: 5px;
	font-size: 22px;
	font-weight: bold;
}


.movies {
	width: 1450px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}
.loadMore {
	height: 100px;
	width: 200px;
	font-size: 22px;
}



.button_container > button {
	height: 100px;
	width: 300px;
	border-radius: 10px;
	border: 2px solid white;
	background-color: black;
	font-weight: bold;
	color: white;
	font-size: 20px;
	cursor: pointer;
}
.button_container > button:hover {
	transition: 0.3s;
	border-color: orange;
	color: orange;
}

.msg_container {
	color: white;
	font-weight: bold;
	margin-bottom: 20px;
}
.msg_container > p{
	font-size: 24px;
}



