.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding: 30px 5px;
	background-color: var(--cor02);
}
.home-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

/* TITLE */
.home-container > .title {
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.home-container > .title > h1 , h1>a{
	font-size: 22px;
}
.home-container > .title > h1 > a::before {
	content: " ";
}
.home-container > .title > h1 > a:hover {
	transition: 0.3s;
	color: var(--cor01);
}

/* MOVIES CONTAINER */
.movies {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 15px;
}

/* LOADING, ERROR, BUTTON */
.extra-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	font-weight: bold;
}
.extra-container > .message {
	color: white;
}
.extra-container > button {
	height: 100px;
	width: 300px;
	border: 2px solid white;
	background-color: black;
	font-weight: bold;
	color: white;
	cursor: pointer;
	transition: 0.3s;
}
.extra-container > button:hover {
	background-color: white;
	color: black;
}




