.searchbar > form {
	border: 2px solid var(--cor01);
	gap: 2px;
}

.searchbar form, label, input{
	height: 100%;
	display: flex;
	align-items: center;
}

/* TEXT INPUT */
.searchbar > form > input[type="text"]{
	min-width: 150px;
	padding: 10px;
}

/* SUBMIT INPUT */
.searchbar > form > svg {
	height: 100%;
	width: 50px;
	color: black;
	background-color: white;
	padding: 10px;
	transition: 0.3s;
	cursor: pointer;
	border: 1px solid var(--cor01);
}
.searchbar svg:hover {
	color: white;
	background-color: var(--cor01);
	border-color: white;
}
