.searchbar {
}

.searchbar > form {
	gap: 10px;
}

.searchbar form, label, input{
	height: 100%;
	display: flex;
	align-items: center;
}

.searchbar input[type="text"]{
	min-width: 200px;
	padding: 10px;
	border-radius: 10px;
	font-size: 18px;
}

.searchbar svg {
	height: 50px;
	width: 50px;
	color: black;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	transition: 0.3s;
	cursor: pointer;
	border: 2px solid;
}
.searchbar svg:hover {
	color: white;
	background-color: black;
	border-color: white;
}


/* MEDIA QUERIES */
@media (max-width: 825px) {

}
  
