.Header {
	min-height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	background-color: rgb(35, 19, 19);
	border-bottom: 2px solid white;
}

.header-menu {
	height: 80px;
	width: 80px;
	border: 3px solid white;
	background-color: white;
	border-radius: 50%;
	display: grid;
	place-items: center;
	padding: 10px;
	transition: 0.3s;
	cursor: pointer;
}
.header-menu:hover {
	background-color: rgb(35, 19, 19);
}
.header-menu:hover svg {
	transition: 0.3s;
	color: white;
}

.header-menu > a {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
	
}
.header-menu > a > svg {
	height: 50px;
	width: 50px;
	color: rgb(35, 19, 19);
}


/* MEDIA QUERIES */

@media (max-width: 476px) {
	.Header {
		display: flex;
		flex-direction: column;
		padding: 10px;
	}

}
  