.header {
	min-height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	background-color: var(--cor01);
	border-bottom: 2px solid white;
}

/* LOGO */
.header > .logo {
	height: 80px;
	width: 80px;
	border: 3px solid white;
	background-color: white;
	border-radius: 50%;
	display: grid;
	place-items: center;
	padding: 10px;
	transition: 0.3s;
	cursor: pointer;
	background-color: transparent;
}

/* HOVER LOGO */
.logo:hover {
	background-color: white;
}
.logo:hover > a > svg {
	color: var(--cor01);
}
.logo a {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
}
.logo svg {
	height: 50px;
	width: 50px;
	color: white;
}


/* MEDIA QUERIES */
@media (max-width: 700px) {
	.header {
		display: flex;
		flex-direction: column;
		padding: 10px;
	}
}
  