.search {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding: 30px 5px;
	background-color: var(--cor02);
}

.search-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.search-container > .title {
	font-weight: bold;
	display: flex;
	color: white;
	text-align: center;
	justify-content: center;

	gap: 10px;
}

/* LAODING, ERROR, BUTTON */
.extra-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	font-weight: bold;
}
.extra-container > .message {
	color: white;
}
.extra-container > button {
	height: 100px;
	width: 300px;
	border: 2px solid white;
	background-color: black;
	font-weight: bold;
	color: white;
	cursor: pointer;
	transition: 0.3s;
}
.extra-container > button:hover {
	background-color: white;
	color: black;
}
