.footer {
	flex-grow: 0 1 auto;
	padding: 20px;
	background-color: var(--cor01);
	border-top: 2px solid white;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	color: white;
}
.footer > div {
	display: flex;
	gap: 10px;
}
.footer > div > p > a {
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer > div > p > a > img {
	width: 120px;
	margin: 10px;
}