.Footer {
	min-height: 150px;
	padding: 0px 10px;
	background-color: rgb(35, 19, 19);
	border-top: 2px solid white;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	color: white;
}

.Footer p {
	font-size: 20px;
}
.Footer a {
	font-weight: bold;
}

