/* 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sora', sans-serif;
*/

:root {
	--cor01: rgb(35, 19, 19);
	--cor02: rgb(70, 42, 42);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body, html, div#root {
	height: 100%;
	width: 100%;
	background-color: var(--cor02);
}

h1 {
	font-size: 22px;
}
p, a {
	font-size: 18px;
}
.bold {
	font-weight: bold;
}
a {
	text-decoration: none;
}

a.link-style {
	height: 100%;
	width: 100%;
	display: inline-block;
	color: white;
	transition: 0.3s;
	display: grid;
	place-items: center;
	padding: 10px;
}
a.link-style:hover {
	color: var(--cor01);
	background-color: white;
}

input[type="text"], input[type="submit"] {
	font-size: 18px;
}